
<h1>Edit Article</h1>

<div class="lefter">
    <%= link_to 'Back', articles_path %>
</div>

<% if current_user.nickname == @article.author %>
    <%= render 'form' %>
<% else %>
    <h1>You cannot edit another author's article!!! </h1>
<% end %>