<footer>
<hr>
  <p class="text-center">Created by Nazar Ripey, PZ-25 <br>
  Contact me: <a href="http://t.me/Nripey"><%=fa_icon("telegram")=%></a>
  <a href="https://mail.google.com/mail/?view=cm&fs=1&to=nripey1@gmail.com&su=&body="><%=fa_icon("at")=%></a>
  </p>
</footer>