<nav class="navbar navbar-expand">
    <div class="collapse navbar-collapse" >
        <ul class="navbar-nav mr-auto">
            <li class="nav-link">
                <%= link_to "Home", controller: "welcome"=%>
            </li>
            <li class="nav-link">
                <%= link_to "Articles", controller: "articles"=%>
            </li>
        </ul>
        
        
    </div>
</nav>